@model IEnumerable<OrderFormViewModel>
@{
    ViewData["Title"] = "Make Order";
}

<h1>This week</h1>

@foreach (var dayOrder in Model)
{
    <partial name="_OrderForm" model="dayOrder" />

    <hr />
}

@section Scripts {
    <script src="~/js/order-form.js"></script>
}

